body {
    background-color: #DDD;
}

.content {
    font-family: "Noto Sans", SansSerif, sans-serif;
    width: 100vh;
    max-width: 100%;
    padding: 2rem;
    margin: auto;
    background-color: #FFF;
    box-shadow: 1em 1em 1em gray;
}

img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

code pre {
    font-family: "Fira Code", monospace;
    padding: 0.8em 0.2em;
    background-color: #DDD;
    border-radius: 0.25em;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #DDD;
}

table tr:nth-child(1) {
    background-color: white;
    font-weight: bold;
    border-bottom: 1px solid black;
}

table td, table th {
    border-left: 1px solid black;
    padding: 0.2em
}

table tr td:first-child, table tr th:first-child {
    border-left: none;
}

blockquote {
    margin-left: 0
}

.quote {
    border-left: 0.3em solid gray;
    border-radius: 0.2em;
    padding-left: 1em;
    margin-left: 0
}

.quote .metadata {
    font-style: italic;
    padding-left: 0.5em;
    color: #444
}

.figure {
    width: 100%;
    display: block;
    text-align: center;
}

.figure .imageDescription {
    display: block;
    color: #444;
    font-style: italic;
}