body {
    background-color: #DDD;
    overflow-x: hidden;
    color: #000;
    word-break: break-word;
}

.content {
    font-family: "Fira Sans", "Noto Sans", SansSerif, sans-serif;
    width: 100vh;
    max-width: calc(100% - 4rem);
    padding: 2rem;
    margin: auto;
    background-color: #FFF;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.4rem;
}

img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

code {
    color: #000;
}

code pre {
    font-family: "Fira Code", "Mono", monospace;
    padding: 0.8em 0.2em;
    background-color: #EEE !important;
    border-radius: 0.25em;
}

code.inlineCode {
    font-family: "Fira Code", monospace;
    border-radius: 0.1em;
    background-color: #EEE;
    padding: 0 0.1em
}

.tableWrapper {
    overflow-x: auto;
    width: 100%;
}

.tableWrapper > table {
    margin: auto;
}

table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #DDD;
}

table tr:nth-child(1) {
    background-color: white;
    font-weight: bold;
    border-bottom: 1px solid black;
}

table td, table th {
    border-left: 1px solid black;
    padding: 0.2em 0.5em
}

table tr td:first-child, table tr th:first-child {
    border-left: none;
}

blockquote {
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0);
}

.quote {
    border-left: 0.3em solid gray;
    border-radius: 0.2em;
    padding-left: 1em;
    margin-left: 0;
    background-color: #EEE;
}

.quote .metadata {
    font-style: italic;
    padding-left: 0.5em;
    color: #444
}

.figure {
    width: 100%;
    display: block;
    text-align: center;
}

.figure .imageDescription {
    display: block;
    color: #444;
    font-style: italic;
}

.centered {
    text-align: center;
}

.glossaryReference {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted #000;
}

.arrow {
    font-family: "Fira Code", "Mono", monospace;
}